[defaults]
stdout_callback = community.general.unixy
deprecation_warnings = False
system_warnings = False
action_warnings = False
localhost_warning = False
interpreter_python = auto_silent
display_skipped_hosts = False

[inventory]
unparsed_is_failed = False
